body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    background: #878787;
}

.container{
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}

.cabecera{
    text-align: left;
    background: #004cbf;
    color: #eee;
    margin-bottom: -23px;
    
}

.cabecera h1 span{
    font-size: 20px;
    margin-left: 30px;
}
.cabecera h1{
    padding: 15px;
}

h1{
    font-weight: normal;
}

.post{
    text-align: left;
    border: 2px solid #cfcfcf;
    padding: 2em;
}

.contenido_extra{
    font-weight: bold;
}